.info
  %h1 Whimsy Editor

  %ul
    %li
      Press 0-f to select tile column
    %li
      Press Shift+0-f to select tile row

    %li
      Press F1 to open sprite editor

  %p Saving/Loading coming soon!
