body
  background-color: ivory
  color: #100c08
  margin: 0
  overflow: hidden
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300

html, body, .engine
  height: 100%

.engine
  position: relative

  & > canvas
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    position: absolute

.info
  position: absolute
  top: 0
  left: 8px
  width: 200px

h1
  font-size: 1em
  margin-bottom: 0.5em

p
  margin-top: 0.5em
