body
  background-color: #000
  margin: 0
  overflow: hidden

html, body, .engine
  height: 100%

.engine
  position: relative

  & > canvas
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    position: absolute
